.search-bar{
  display: block;
}


.video-preview{
  width: 300px;
  display: inline-block;
  margin-right: 12px;
  vertical-align: top;
}

p{
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.thumbnail{
  width: 300px;

}

.title{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 12px;

}

.channel-name{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;

}

.views{
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.channel-pic{
  width: 40px;
  border-radius: 20px;

}

.div-video-info{
  width: 250px;
  display: inline-block;
  vertical-align: top;
  margin-top: 8px;
}

.div-channel-pic{
  display: inline-block;
  margin-top: 8px;
  margin-right: 5px;
}

