
.header{
  height: 57px;
  display: flex;
  justify-content: space-between;

}

.left-section{
  width: 125px;
  background-color: lightblue;
}

.middle-section{
  flex: 1;
  background-color: lightpink;
  max-width: 500px;
  margin-left: 70px;
  margin-right: 35px;
}

.right-section{
  width: 215px;
  background-color: lightblue;
}

.search-bar{
  width: 400px;
  height: 20px;
}

