.video-preview-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 40px;
}

.thumbnail{
  width: 100%;

}

.div-channel-pic-title{
  display: grid;
  grid-template-columns: 50px 1fr;
  margin-top: 8px;

}

.channel-pic{
  width: 40px;
  border-radius: 20px;

}

.title{
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 12px;

}

.channel-name{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;

}

.views{
  font-size: 12px;
  color: rgb(96, 96, 96);
}
